// Inline Links
//
// Basic styling used in lists
// Intended for Drupals default menu (ul.menu) / tabs formats to remove default
// Bullets & display as inline links.
//
//
// <pre>
// .my-ul-class {
//   @extend %u-inline-links;
// }
// </pre>
//
//
// Styleguide 4.2

%u-inline-links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%u-inline-links__list-item {
  float: left;
  margin: 0 ru(0.25) 0 0;
}

%u-inline-links {
  @extend %u-inline-links__list;

  li {
    @extend %u-inline-links__list-item;
  }
}
