// Lists Reset
//
// Reset lists to have no bullets and default left padding
//
// <pre>.my-ul-class {
//   @extend %u-list--reset;
// }</pre>
//
// Reset lists to have no bullets, no padding or margins.
//
// <pre>.my-ul-class {
//   @extend %u-list--blank;
// }</pre>
//
// Styleguide 4.3

// Reset to Default List Style
%u-list--reset {
  margin: 0;
  padding: 0 0 0 ru(1);
  list-style-position: outside;
}

// Reset to block-like list with no padding / margins
%u-list__list--blank {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}

%u-list__item--blank {
  margin: 0;
}

//TODO: Remove if posible
%u-list--blank {
  @extend %u-list__list--blank;

  li {
    @extend %u-list__item--blank;
  }
}
