.large-info {
  padding-bottom: 5em;

  @include medium {
    display: flex;
    padding-bottom: 2em;
  }
}

.large-info__img {
  @include medium {
    height: 100%;
    order: 2;
    width: 50%;
  }
}

.large-info__text {
  @include medium {
    order: 1;
    padding-right: 2em;
    width: 50%;
  }
}

.large-info__fullname,
.large-info__degrees {
  margin: 0;
}

.large-info__degrees,
.large-info__largetext {
  @include font-size(.9);
  font-weight: 400;

  span {
    display: inline-block;

    &::after {
      content: ",";
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.large-info__largetext {
  color: $gray-darker;
  @include font-size(1);
  font-weight: 600;
  line-height: 1.4em;
}

.large-info__link {
  display: block;
  line-height: 1em;
}

.large-info__address {
  color: $gray;
  line-height: 1.4em;
  margin-top: 3em;

  .country {
    display: none;
  }
}
