<div class="sg__wrapper--xlight-grey"> <!--Only used in demo -->
  <span class="u-word-break--pipe">
    University of Mainspring
  </span>
  <span class="u-word-break--pipe">
    123 Street
  </span>
    <span class="u-word-break--pipe">
    Toronto Ontario, Canada
  </span>
</div>
