//
// General Layout
//

$sidebar-width: 33%;
$gutter: 2%;
$main-width: 100 - ($sidebar-width + $gutter);

.layout-container {
  @include wrapper;
}

.header,
.main,
.footer {
  @include wrapper;

  margin-bottom: 4em;
}

//
// Layout Using Flexbox (IE11+).
// Remove this and uncomment Grid code below to use CSS Grid.
//
.main {
  @include large {
    display: flex;
  }
}

.main-sidebar {
  grid-area: sidebar;
  margin-bottom: $space-double;

  @include large {
    order: 2;
    width: $sidebar-width;
  }
}

.main-content {
  grid-area: content;
  width: 100%;

  @include large {
    &--with-sidebar {
      margin-right: $gutter;
      width: $main-width;
    }
  }
}

//
// Layout Using CSS Grid (NO IE11 support)
// Remove Flexbox code above and uncomment this section to use CSS Grid.
//

// .main {
//   &--with-sidebar {
//     @include large {
//       display: grid;
//       grid-gap: 2%;
//       grid-template-areas: "content sidebar";
//       grid-template-columns: $main-width $sidebar-width;
//     }
//   }
// }
//
// .main-sidebar {
//   grid-area: sidebar;
//   margin-bottom: $space-double;
// }
//
// .main-content {
//   grid-area: content;
//   width: 100%;
// }
