//
// General Layout (example code)
//

$sidebar-width: 33%;
$gutter: 2%;

.layout-container {
  @include wrapper;
}

.header,
.main,
.footer {
  @include wrapper;

  margin-bottom: 4em;
}

.main {
  @include large {
    display: flex;
  }
}

.main-sidebar {
  margin-bottom: $space-double;

  @include large {
    order: 2;
    width: $sidebar-width;
  }
}

.main-content {
  width: 100%;

  @include large {
    padding: 0;

    &--with-sidebar {
      margin-right: $gutter;
      width: 100 - ($sidebar-width + $gutter);
    }
  }
}
