// Tab Navigation
.tabs__nav {
  border-bottom: 1px solid $gray-lightest;

  @include medium {
    border-left: 1px solid $gray-lightest;
    display: flex;
  }
}

// Tab Content
.tabs__tab--js {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content--js {
  padding: 1.5rem;
}

// No-js fallback
.tabs--js.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

// Drupal Local Tasks variant
.tabs__nav--local-tasks {
  margin: 1em 0 .5em;
}

.tabs__link--local-tasks {
  padding: .3em 1.5em;
}
