<div class="sg__wrapper--xlight-grey--border"> <!--Only used in demo -->
    <h1>No Margins from children element are changed</h1>
    <p>Aliquam vitae ligula iaculis, sodales ligula facilisis, rhoncus lacus. Proin a eros erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent velit tellus, auctor sit amet dolor at, consequat pulvinar lacus. </p>
</div>

<div class="sg__wrapper--xlight-grey--border"> <!--Only used in demo -->
  <div class="u-remove-child--margin-top-bottom">
    <h1>Margin removed from childen elements</h1>
    <p>Top margin from first child elemnt and bottom margin from last child element are removed. liquam vitae ligula iaculis, sodales ligula facilisis, rhoncus lacus. Proin a eros erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent velit tellus, auctor sit amet dolor at, consequat pulvinar lacus. </p>
  </div>
</div>
