{% embed "@base/layouts/grid/00-grid.twig" %}

{% block grid_content %}
  {# Drupal content #}
  {% if grid_content %}
    {{ grid_content }}
  {# PL content in YAML #}
  {% else %}
    {% for card in cards %}
      <div class="grid__item">
        {% include "@molecules/card/01-card.twig"
          with {
            "card_blockname": card.card_blockname,
            "card_modifiers": card.card_modifiers,
            "card_img_src": card.card_img_src,
            "card_title": card.card_title,
            "card_link": card.card_link,
            "card_title_modifiers": card.card_title_modifiers,
            "card_subtitle": card.card_subtitle,
            "card_body": card.card_body
          }
        %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% endembed %}
