<table class="table">
	<thead>
		<tr>
			<th colspan="4" class="table__heading-cell">This is a heading</th>
		</tr>
	</thead>
	<tbody>
  	<tr class="table__row">
  		<td class="table__cell">Row 1</td>
  		<td colspan="2" class="table__cell">Information about something</td>
  		<td class="table__cell">And this is important</td>
  	</tr>
  	<tr class="table__row">
      <td class="table__cell">Row 2</td>
  		<td colspan="2" class="table__cell">Information about something</td>
  		<td class="table__cell">And this is important</td>
  	</tr>
  	<tr class="table__row">
      <td class="table__cell">Row 3</td>
  		<td colspan="2" class="table__cell">Information about something</td>
  		<td class="table__cell">And this is important</td>
  	</tr>
  	<tr class="table__row">
      <td class="table__cell">Row 4</td>
  		<td colspan="2" class="table__cell">Information about something</td>
  		<td class="table__cell">And this is important</td>
  	</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="table__heading-cell table__footer-cell ">This is a table footer</th>
		</tr>
	</tfoot>
</table>
