{% if not attributes %}
<div class="form-item form-item--radio">
  <legend class="heading-3">Options as Radio Buttons</legend>
  <ul class="form-item--radios">
{% endif %}
    {% for key, listItem in listItems.four %}
      {% include "@atoms/05-forms/radio/_radio-item.twig" with {
        "radio_item": listItem.title
      } %}
    {% endfor %}
{% if not attributes %}
  </ul>
</div>
{% endif %}
