/* ------------------------------------ *\
    $MAIN CONTENT AREA
\* ------------------------------------ */
[role=main] {
  padding: $space-one-half $space-one-half $space-double;
  overflow: hidden;
  max-width: $max-width;
  margin: 0 auto;
}
