//////////////////////////

/// Widths and base sizing
$max-width: 1200px;
$base-font-size: 62.5%; // setup to work with rems
$base-border-size: 5px;
$measure-max: 675px; // use for paragraph measure.

// Fonts
$body: Georgia, Times, "Times New Roman", serif;
$heading: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
