.utility-menu {
  display: none;

  @include large {
    display: block;
    margin: 1em 0 0 1.3em;
    overflow: hidden;
    position: relative;
  }
}

// Inline Menu variant
.menu__item--utility {
  margin: 0 1.4em;

  // Apply Button
  &:first-child {
    &::before,
    &::after {
      background-color: #b2b2b2;
      content: "";
      display: inline-block;
      margin-right: .5em;
      height: 1px;
      position: relative;
      top: -3px;
      width: 35px;
    }

    &::after {
      margin-left: .5em;
      margin-right: 0;
    }

    .menu__link {
      @include button($alt:true);
      color: $white;
      position: relative;
    }
  }
}
