<nav role="navigation" aria-labelledby="utility-menu" class="utility-menu">
  <ul block="block-mainnavigationextendedconfig-2" class="menu menu--utility">
    <li class="menu__item menu__item--utility">
      <a href="/" class="menu__link">Apply</a>
    </li>
    <li class="menu__item menu__item--utility">
      <a href="/" class="menu__link">About the College</a>
    </li>
    <li class="menu__item menu__item--utility">
      <a href="/" class="menu__link">Faculty &amp; Staff Directory</a>
    </li>
    <li class="menu__item menu__item--utility">
      <a href="/" class="menu__link">Current Students</a>
    </li>
    <li class="menu__item menu__item--utility">
      <a href="/" class="menu__link">Alumni</a>
    </li>
  </ul>
</nav>
