#chart-hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

span.ct-label.ct-vertical.ct-start {
  color: #545454;
  font-size: 1em;
  font-weight: bold;
}

.ct-series .ct-bar {
  stroke-width: 25px;
}
