@include large {
  .main-menu__link {
    color: $white;

    &.active,
    &:active,
    &:hover {
      color: $gray-lighter;
    }
  }

  .main-menu__link {
    color: $gray;
  }

  // A
  .main-menu__link {
    border-bottom: none;
    color: $gray-dark;
    display: inline-block;
    font-size: 1.1rem;
    padding: $space $space-double $space $space;
    text-transform: none;
    position: relative;
  }

  //
  // Sub Navigation
  //

  // UL (nested)

  .main-menu__item--sub + .main-menu__item--sub {
    border-top: 1px solid $gray-light;
  }

  .main-menu__link--sub {
    color: $gray-light;
    display: block;
  }

  // LI (Nested)
  .main-menu__item--sub {
    display: block;
  }

  // A (Nested)
  .main-menu__link--sub {
    padding: $space-one-third $space;
  }
} // End Breakpoint
