<a href="#" id="toggle-expand" class="toggle-expand">
  <span class="toggle-expand__open">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_base_class: 'icon',
      icon_blockname: 'toggle-expand',
      icon_name: 'bars',
    } %}
    <span class="toggle-expand__text">Main Menu</span>
  </span>
  <span class="toggle-expand__close">
    <span class="toggle-expand__text">Close</span>
  </span>
</a>
<nav id="main-nav" class="main-nav">
  {% include "@molecules/menus/_menu.twig" with {
    menu_class: 'main-menu'
  } %}
</nav>
