{{ attach_library('emulsify/main-menu') }}

<nav >
  <a href="#" id="toggle-expand" class="toggle-expand">
    <span class="toggle-expand__open">
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "toggle-expand",
        icon_name: "bars",
        icon_title: "Menu",
        icon_desc: "Open Menu",
        hidden: TRUE,
      } %}
      <span aria-label="Open Menu" class="toggle-expand__text">Menu</span>
    </span>
    <span class="toggle-expand__close">
      <span aria-label="Close Menu" class="toggle-expand__text">Close</span>
    </span>
  </a>
  <div id="main-nav" class="main-nav">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
</div>
</nav>
