// NYU Top Header (top navigation required by NYU)
#GN-sub-nav #GN-banner #GN-logo {
  box-sizing: border-box;
  margin-left: 3.4em;
  max-width: 159px;

  @include medium {
    margin: 0;
    max-width: none;
  }
}

#GN-sub-nav #GN-banner #GN-icons-layer #GN-search #GN-search-form-desktop {
  input {
    &::-webkit-input-placeholder {
      color:$white;
    }

    &:-moz-placeholder {
      color:$white;
    }

    &::-moz-placeholder {
      color:$white;
    }

    &:-ms-input-placeholder {
      color:$white;
    }
  }
}
