.pager {
  margin: 2em 0;
}

.pager__items {
  @include list-reset;

  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 0.7em;

  @include large {
    margin: 0 1em;
  }
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  color: $gray-light;
  font-weight: 600;
  text-decoration: none;

  &.is-active,
  &:hover {
    color: $gray;
  }
}

.pager__link--next,
.pager__link--prev {
  display: block;

  span {
    display: none;
  }

  &::before {
    border: 8px solid $gray-light;
    border-bottom: 6px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid transparent;
    content: "";
    display: block;
    position: relative;
    top: 1px;
  }

  &:hover {
    &::before {
      border-left-color: $gray;
    }
  }
}

.pager__link--prev {
  &::before {
    border-left-color: transparent;
    border-right-color: $gray-light;
  }

  &:hover {
    &::before {
      border-left-color: transparent;
      border-right-color: $gray;
    }
  }
}
