<div class="example">
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    "heading_level": 1,
    "heading": "Page Title",
    "heading_modifiers": ["margin"],
  } %}

  {% include "@organisms/info-box-grid/info-box-grid.twig" with {
    "boxes": {
      1: {
        "ib_modifiers": ["grid-item"],
        "infobox_title": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        "infobox_text": "Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.",
        "infobox_link": "#",
      },
      2: {
        "ib_modifiers": ["grid-item"],
        "infobox_title": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        "infobox_text": "Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.",
        "infobox_link": "#",
      },
    }
  } %}

  {% include "@organisms/card-grid/card-grid.twig" with {
    "grid_blockname": "card",
    "grid_modifiers": ["divider", "columns-3"],
    "cards": {
      1: {
        "card_modifiers": ["grid-item", "divider-3"],
        "card_img_src": img.square.src,
        "card_image_output_image_tag": TRUE,
        "card_title": "Lorem ipsum dolor sit amet",
        "card_link_url": "#",
        "card_subtitle": "Dolor sit amet",
        "card_body": "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.",
      },
      2: {
        "card_modifiers": ["grid-item","divider-3"],
        "card_img_src": img.square.src,
        "card_image_output_image_tag": TRUE,
        "card_title": "Lorem ipsum dolor sit amet",
        "card_link_url": "#",
        "card_subtitle": "Dolor sit amet",
        "card_body": "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.",
      },
      3: {
        "card_modifiers": ["grid-item","divider-3"],
        "card_img_src": img.square.src,
        "card_image_output_image_tag": TRUE,
        "card_title": "Lorem ipsum dolor sit amet",
        "card_link_url": "#",
        "card_subtitle": "Dolor sit amet",
        "card_body": "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.",
      },
    }
  } %}
</div>
