.menu {
  @include list-reset;
}

.menu__item {
  margin: 0 1em 0.5em 0;

  @include large {
    display: inline;
    margin-bottom: 1em;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}
