<ul class="menu">
  <li class="menu__item">
    <a class="menu__link" href="#">Contact</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="#">Academic Bulletin</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="#">Open Positions</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="#">Site Map</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="#">Site Credits</a>
  </li>
</ul>
