<div class="people-grid">
  {% include "@organisms/card-grids/05-card-grid-bg/card-grid-bg.twig"
    with {
      "cards": cards,
      "variation": variation,
      "limit": limit,
      "classname": classname,
      "grid_title": grid_title,
      "more_link": more_link
    }
  %}
</div>
