build/**/*
dist/**/*
pattern-lab/**/*
components/_annotations/annotations.js
components/js/babel-polyfill.js
components/js/fitvids.js
components/js/init.js
components/js/jquery*.js
components/js/modernizr.js
components/js/svgxuse.min.js
