$green-lighter: #78DC8D;
$green-light: #3FD03F;
$green: #35AA4E; // 4K Green
$green-dark: #2B8A31;
$green-darker: #127218;
$blue-lighter: #99BFEB;
$blue-light: #68A2E3;
$blue: #0C62C2;
$blue-dark: #4180C7;
$blue-darker: #2C5D95;
$yellow: #ECDF13;
$yellow-dark: #D8CB01;
$orange: #FD880B;
$orange-dark: #D86601;
$red: #B83B2B;
$red-dark: #672118;
$white: #FFF;
$gray-lightest: #EEE;
$gray-lighter: #E4E4E4;
$gray-light: #D2D2D2;
$gray: #555;
$gray-dark: #666;
$gray-darker: #414141;
$black: #000;
