$green-light: #3FD03F;
$green: #35AA4E;
$green-dark: #2B8A31;
$blue-light: #68A2E3;
$blue: #4180C7;
$blue-dark: #0C62C2;
$yellow: #ECDF13;
$yellow-dark: #D8CB01;
$orange: #FD880B;
$orange-dark: #D86601;
$white: #FFF;
$gray-light: #D2D2D2;
$gray: #A0A0A0;
$gray-dark: #414141;
$black: #000;

$color-border: $gray-light;

$color-link: $gray-dark;
$color-link--hover: $gray-light;

$color-heading: $gray-dark;
