{#
/**
 * Available variables:
 * - heading - the content of the heading (typically text)
 * - heading_url - the url the heading should point to
 * - h1_base_class - the base class name
 * - modifiers - array of modifiers to add to the base classname
 * - blockname - blockname prepended to the base classname
 * - heading_link_base_class - override the link base class
 * - heading_link_blockname - override the link block name
 */
#}
{% set h1_base_class = h1_base_class|default('h1') %}

<h1{{ bem(h1_base_class, (modifiers), blockname) }}>
  {% if heading_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_base_class": heading_link_base_class,
        "blockname": heading_link_blockname|default(h1_base_class),
        "link_url": heading_url,
        "link_content": heading,
      }
    %}
  {% else %}
    {{ heading }}
  {% endif %}
</h1>
