{% if grid_label %}
{% include "@atoms/02-text/00-headings/heading-2/heading-2.twig"
  with {
    "heading": grid_label,
  }
%}
{% endif %}
<div class="grid{% for modifier in grid_modifiers %} grid--{{ modifier }}{% endfor %}{% if grid_blockname %} {{ grid_blockname }}__grid{% endif %}">
  {% block grid_content %}
    {% for item in items %}
      <div class="grid__item">{{ item }}</div>
    {% endfor %}
  {% endblock %}
</div>
