.grid__item {
  .grid--columns-2 & {
    @include large {
      width: 49%;

      &:nth-child(2n+1) {
        margin-left: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .grid--columns-3 & {
    @include large {
      width: 32%;

      &:nth-child(3n+1) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
