$main-menu-bg: #f2f2f2;

// outer element class change to keep mobile screens from showing content beneath
.menu-open {
  overflow: hidden;
  position: fixed;
}

// Mobile Menu Button
.main-menu-toggle {
  @include sprite-bars;
  background-size: 9em auto;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 300%;
  left: -2px;
  outline: none;
  padding: .7em;
  position: absolute;
  top: -60px;
  z-index: 50;

  &:hover {
    opacity: .8;
  }

  @include large {
    display: none;
  }
}

// Menu styles
// Nav
.main-menu {
  background-color: $main-menu-bg;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  transform: translateX(-100%);
  top:0;
  width: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;

  @include large {
    background-color: transparent;
    border-bottom: 5px solid rgba(0,0,0,.1);
    overflow: hidden;
    margin-bottom: 1.5em;
    padding: 1em 0;
    position: relative;
    transform: none;
  }

  &.active {
    transition: all 0.5s;

    @include large {
      transition: none;
    }
  }

  &.is-visible {
    transform: translateX(0);
  }

  // Bold First Link in list - not very BEM, but fine in this scenario I think.
  > .main-menu__list > .main-menu__item:first-child > .main-menu__link {
    font-weight: 800;

    @include large {
      display: none;
    }
  }

  // Italic Last Link in list - not very BEM, but fine in this scenario I think.
  > .main-menu__list > .main-menu__item:last-child {
    background-color: $white;

    & > .main-menu__link {
      font-style: italic;

      @include large {
        display: none;
      }
    }

    // Hide Apply link for mobile (shown at top-level)
    .main-menu__list .main-menu__back + .main-menu__item {
      display: none;
    }
  }
}

// UL
.main-menu__list {
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.35s;

  .open {
    height: 100%;
    position: static;
    z-index: 1;

    & > ul {
      display: block;

      @include large {
        display: none;
      }
    }
  }

  .open a[data-childlevel="1"] + ul {
    height: 100%;

    & > li {
      height: auto;
    }
  }

  &.is-active-1 {
    transform: translateX(-100%);

    @include large {
      transform: none;
    }
  }

  &.is-active-2 {
    transform: translateX(-200%);

    @include large {
      transform: none;
    }

    .open-child {
      height: 100%;
      position: static;
      z-index: 1;

      ul {
        display: block;

        @include large {
          display: none;
        }
      }

      // iPhone 5S requires parent to be static even though child is fixed.
      > ul > li {
        position: static;
      }
    }

    .open-child a[data-childlevel="2"] + ul {
      height: 100%;

      & > li {
        height: auto;
      }
    }
  }
}

// LI
.main-menu__item {
  list-style: none;
  position: relative;

  @include large {
    display: inline-block;
  }
}

// Child Menu
.main-menu__list--child {
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  width: 100%;

  @include large {
    display: none;
  }
}

// LI with child
.main-menu__item--with-child {
  > .main-menu__link {
    &:after {
      @include sprite-chevron-right-red;
      content: "";
      height: 25px;
      position: absolute;
      right: 16%;
      top: 18%;
      width: 25px;

      @include small-med {
        right: 12%;
      }

      @include small-large {
        right: 9%;
      }
    }

    &:hover {
      &:after {
        @include sprite-chevron-right-white;
        top:24%;
      }
    }

    @include large {
      &:after {
        display: none;
      }
    }
  }
}

// A
.main-menu__link,
.main-menu__link:link,
.main-menu__link:visited,
.main-menu__back {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray-lighter;
  color: $red;
  cursor: pointer;
  display: block;
  @include font-size(1.1);
  font-weight: 600;
  outline:none;
  padding: 1em;
  position: relative;;
  text-align: left;
  text-decoration: none;
  width: 85%;

  @include small-med {
    width: 87%;
  }

  @include small-large {
    width: 91%;
  }

  @include medium {
    &:focus {
      outline: 1px solid $red;
    }
  }

  @include large {
    border: none;
    color: $gray-darker;
    display: inline-block;
    @include font-size(.9rem);
    padding: 0 1.4em;
  }

  &:hover {
    background-color: $red;
    color: $white;

    @include large {
      background-color: transparent;
      color: $red;
    }
  }
}

// Back button specific
.main-menu__back {
  color: $gray-lighter;

  &:before {
    @include sprite-chevron-left-gray;
    @include with-icon;
    background-size: 11.2em 8.6em;
    left: -.5em;
    margin-right: 0;
    top: 0.05em;
  }

  &:hover {
    background-color: $white;
    color: $gray-lighter;
  }
}

// Mobile Menu Close Button
.main-menu__close {
  background-color: $gray-darker;
  border: none;
  color: $white;
  cursor: pointer;
  font: 2em arial;
  height: 300%; // For when list is longer than screen (e.g., landscape mobile)
  outline: none;
  position: fixed;
  right: 0%;
  top: 0;
  width: 15%;
  z-index: 2;

  @include small-med {
    width: 13%;
  }

  @include small-large {
    width: 9%;
  }

  @include medium {
    &:focus {
      outline: 1px solid $red;
    }
  }

  &::after {
    @include sprite-cross;
    background-size: 9.8em auto;
    content: "";
    font-size: 137%;
    height: 1em;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top:.3em;
    width: 1.1em;
  }

  &:hover {
    background-color: $gray;
  }

  @include large {
    display: none;
  }
}

// Admin specific
.toolbar-fixed,
.toolbar-vertical {
  > * {
    position: static;
  }

  .main-menu-toggle {
    top: 39px;
  }

  .main-menu {
    top:39px;

    @include large {
      top:0;
    }
  }
}
