.list-grid__label {
  position: relative;
  text-align: center;

  span {
    background-color: $white;
    color: $red;
    padding: 0 1em;
    position: relative;
    z-index: 1;
  }

  &::before {
    background-color: #b2b2b2;
    content: "";
    display: inline-block;
    left: 0;
    margin-right: .5em;
    height: 1px;
    position: absolute;
    top: 11px;
    width: 100%;
  }
}

.list_grid__items {
  @include medium {
    display: flex;
    flex-wrap: wrap;
  }
}
