{% if list_grid_label %}<h2 class="list-grid__label"><span>{{ list_grid_label }}</span></h2>{% endif %}
<div class="list_grid__items">
  {# Drupal content (paragraphs) #}
  {% if paragraphs %}
    {{ paragraphs }}
  {# PL content in JSON #}
  {% else %}
    {% for list in lists %}
      {% include "@molecules/lists/list.twig"
        with {
          "list_title": list.list_title,
          "list": list.list
        }
      %}
    {% endfor %}
  {% endif %}
</div>
