// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph($margin: 0 0 1em) {
  margin: #{$margin};
}

@mixin no-bottom {
  margin-bottom: 0;
}

body {
  color: $gray;

  @include body-copy;
}

.paragraph {
  @include paragraph;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px $color-border;
  margin-left: 1em;
  padding-left: 1em;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}
