@mixin button($alt: false) {
  background-color: $black;
  border:none;
  color: $white;
  cursor: pointer;
  font-family: $paragraph;
  line-height: 1em;
  padding: ($spacing-sm * 1.5) ($spacing-l * 3);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background-color: $red;
  }

  @if $alt {
    @include font-size(.7);
    background-color: $red;
    padding: ($spacing-sm * 1) ($spacing-l * 1);

    &:hover {
      background-color: black;
    }
  }
}

.button,
a.button {
  @include button();

  &--alt {
    @include button($alt: true);
    font-weight: 600;
  }

  &--alt-2 {
    background-color: $gray-lightest;
    color: $black;
    @include font-size(.8);
    font-weight: 600;
    line-height: 1.4em;
    text-transform: none;

    &:link,
    &:visited {
      color: $black;
    }

    &:hover {
      background-color: $gray-lighter;
    }
  }
}

a.button {
  // needed to override base theme CSS
  -moz-appearance: none;
  -webkit-appearance: none;
}

// Icon Buttons
.button--file-empty {
  &:before {
    @include sprite-file-empty;
    @include with-icon;
    background-size: 14em 13.1em;
    top: 0;
  }
}

a.button--download {
  @include font-size(.8);
  line-height: 1.4em;
  text-transform: none;

  &:before {
    @include sprite-download;
    @include with-icon;
    background-size: 14em 13.1em;
    left: -6px;
    top: 2px;
  }

  &:hover,
  &:link:hover,
  &:visited:hover {
    background-color: lighten($red, 4%);
  }
}
