{#
/**
 * Available variables:
 * - heading_2_modifiers - array of modifiers to add to the base classname
 * - heading_2_blockname - blockname prepended to the base classname
 * - heading_2_url - (optional) the url the heading should poing to
 * - heading_2 - the content of the heading (typically text)
 */
#}
<h2 class="heading-2{% for modifier in heading_2_modifiers %} heading-2--{{ modifier }}{% endfor %}{% if heading_2_blockname %} {{ heading_2_blockname }}__heading-2{% endif %}">
  {% if heading_2_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_blockname": "heading-2",
        "link_url": heading_2_url,
        "link_content": heading_2,
      }
    %}
  {% else %}
    {{ heading_2 }}
  {% endif %}
</h2>
