%a-table,
table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-primary-light;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

%a-table__cell--core {
  border: 1px solid $color-primary-light
  // padding: ru(0.25) ru(0.5);
}

// Header Cell
%a-table__th,
th {
  // @extend %a-table__cell--core;
  // @extend %a-type--large;
  background-color: $color-primary;
  // padding-top: ru(0.5);
  // padding-bottom: ru(0.5);
  text-align: left;
  color: $white;
  font-weight: 400;
}

// Default Cells
%a-table__td,
td {
  @extend %a-table__cell--core;
  vertical-align: top;
}

// Rows and Cells Styles
%a-table__tr,
tr {

  &:nth-child(even) {
    background-color: $white;
  }

  &:nth-child(odd) {
    background-color: $color-primary-xxlight;
  }

  &:hover,
  &:focus {
    background-color: $color-primary-light

    td {
      border-right-color: $color-primary;
      border-left-color: $color-primary-light
    }
  }
}

// Column Variations
%a-table__col--narrow,
.a-table__col--narrow {
  // min-width: ru(1);
  // max-width: ru(2);
  text-align: center;
}
