.list_grid__item {
  @include medium {
    flex: 1 0 31.33333%;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list_grid__item__title {
  background-color: $gray-lightest;
  color: $black;
  @include font-size(1.1);
  padding: .4em;
  text-align: center;
}

.list_grid__list {
  padding: 0 1em;
}
