.list-item {
  margin-bottom: .2em;
  padding-left: 1em;
}

.list-item--bg {
  background-color: $gray-lightest;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  ol, ul {
    li {
      @extend .list-item
    }
  }
}
