<div class="m-logo">
  <div class="m-logo__svg-wrapper">
    <a class="m-logo__link" href="#">
      <svg class="m-logo__svg"><use xlink:href="/svg/svg-art.svg#mainspring-logo"></use></svg>
      <div class="m-logo__hidden-text">{{ name }}</div>
    </a>
  </div>
</div>
