{# This is for documenting porpose only #}

<p>
  <span class="svg--inline__wrapper">
    <svg class="svg--inline">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#circle-arrow-down">
      </use>
    </svg>
  </span>
  Some Text Appearing Inline With The SVG
</p>

<p class="g-type--xxlarge">
  <span class="svg--inline__wrapper">
    <svg class="svg--inline">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#chevron-right">
      </use>
    </svg>
  </span>
  Some Text Appearing Inline With The SVG
</p>

<p>
  <span class="svg--inline__wrapper">
    <svg class="svg--inline">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#calendar">
      </use>
    </svg>
  </span>
  Some Text Appearing Inline With The SVG
</p>

<p class="g-type--xxlarge">
  <span class="svg--inline__wrapper">
    <svg class="svg--inline">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#calendar">
      </use>
    </svg>
  </span>
  Some Text Appearing Inline With The SVG
</p>

{# SVG Icons #}
<a href="https://www.facebook.com" class="svg-centered" target="_blank">
  <svg class="a-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-social.svg#facebook"></use></svg>
  <span class="u-visually--hidden">View Facebook Page</span>
</a>

<a href="https://www.twitter.com" class="svg-centered" target="_blank">
  <svg class="a-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-social.svg#twitter"></use></svg>
  <span class="u-visually--hidden">View Twitter Page</span>
</a>

<a href="https://www.instagram.com" class="svg-centered" target="_blank">
  <svg class="a-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-social.svg#instagram"></use></svg>
  <span class="u-visually--hidden">View Instagram Page</span>
</a>
