// Colors
//
// $black - black
// $white - white
//
// markup:
// <div style="background:{$modifiers};"><br><br><br></div>
//   <pre>{$modifiers}</pre>
//
// sg-wrapper:
// <div class="sg__wrapper--swatch">
//   <sg-wrapper-content/>
// </div>
//
//
// Styleguide 1.4

@import 'g-color__functions';

// Static Colors
$black: #030303;
$white: #fefefe;


// Base Palette

$color-grey-base: #939598;
$color-blue-base: #3f3fb1;


$palettes: (
  grey: (
    base: $color-grey-base,
    xdark: darken($color-grey-base, 30%),
    dark: darken($color-grey-base, 20%),
    light: lighten($color-grey-base, 10%),
    xlight: lighten($color-grey-base, 20%),
  ),

  blue: (
    base: #3f3fb1,
    dark: #2b3078,
    light: #7c7fb1,
    xlight: #cce0ff
  )
);



// Shadow Color
$shadow: rgba($black, 0.5);

// Array of colors for /global/mixin/_debug-layout.scss
$debug-blue: rgb(0, 0, 160);
$debug-red: rgb(160, 0, 0);
$debug-green: rgb(0, 160, 0);

$debug-colors: $debug-red, $debug-green, $debug-blue !global;
