//
// General Layout (example code)
//

.header,
.main,
.footer {
  @include wrapper;

  margin-bottom: 4em;
}

.main-sidebar {
  @include xl {
    @include grid-span(3,1);
  }
}

.main-content {
  padding: 0 1em;

  @include xl {
    padding: 0;

    &--with-sidebar {
      @include grid-span(9,4);
    }
  }
}
