.tabs__link {
  background-color: $color-primary-xxxlight;
  border: 1px solid $color-primary-xxlight;
  border-bottom: none;
  color: $color-primary;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  // @include medium {
  //   border-bottom: 1px solid $color-primary-xxlight;
  //   border-left: none;
  //   display: inline-block;
  //   font-size: 1rem;
  //   padding: .6em 1.7em;
  //   position: relative;
  //   top: 1px;
  //   width: auto;
  // }

  &:hover {
    background-color: $color-primary-xxlight;
    color: $color-primary-xdark;
  }

  &.is-active {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $white;

    // @include medium {
    //   background-color: $white;
    //   border: 1px solid $color-primary-xxlight;
    //   border-bottom: 1px solid $color-primary;
    //   border-left: none;
    //   color: $color-primary;
    // }
  }
}
