<div class="example-page">
{% include "@atoms/02-text/00-headings/h1/h1.twig" with {
  "heading": "This is an Example Page"
}%}

{% include "@organisms/info-box-grid/info-box-grid.twig" with {
  "boxes": {
    1: {
      "infobox_title":
        "Test Title that is fairly long for a reason",
      "infobox_text":
        "Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.",
      "infobox_link":
        "#",
    },
    2: {
      "infobox_title":
        "Test Title that is fairly long for a reason",
      "infobox_text":
        "Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.",
      "infobox_link":
        "#",
    },
  }
}%}

{% include "@organisms/card-grid/card-grid.twig" with {
  "cards": {
    1: {
      "card_img_src":
        "http://placeimg.com/480/300/people",
      "card_title":
        "This is a title too",
      "card_link_url":
        "#",
      "card_subtitle":
        "Person of Interest",
      "card_body":
        "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.",
    },
    2: {
      "card_img_src":
        "http://placeimg.com/480/300/people",
      "card_title":
        "This is a title too",
      "card_link_url":
        "#",
      "card_subtitle":
        "Person of Interest",
      "card_body":
        "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.",
    },
    3: {
      "card_img_src":
        "http://placeimg.com/480/300/people",
      "card_title":
        "This is a title too",
      "card_link_url":
        "#",
      "card_subtitle":
        "Person of Interest",
      "card_body":
        "Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.",
    },
  }
}%}

</div>
