.grid__item {
  flex-grow: 1;
  margin-bottom: 1em;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include large {
    margin: 0 1% 1% 0;
    width: auto;
  }
}
