.cta {
  display: flex;
  margin: 1em 0;
}

.cta__button,
.cta__button:link,
.cta__button:visited {
  @include font-size(1.1);
  background-color: $pink;
  border: 1px solid $pink;
  color: $white;
  display: block;
  line-height: 1.6em;
  padding: 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include medium {
    width: 83%;
  }

  &:hover {
    background-color: $black;
    border-color: $black;
  }
}

.cta__link {
  border: 1px solid $gray-lighter;
  border-left: 0;
  display: none;
  position: relative;
  text-align: center;
  width: 28%;

  @include medium {
    display: block;
  }

  // white triangle (visible edge)
  &::before {
    border: 65px solid $white;
    border-left: 43px solid transparent;
    border-right: 0 solid transparent;
    border-top: 68px solid transparent;
    bottom: 0;
    content: "";
    left: -43px;
    position: absolute;
    z-index:2;
  }

  // gray triangle (mimic border at bottom)
  &::after {
    border: 65px solid $gray-lighter;
    border-left: 43px solid transparent;
    border-right: 0 solid transparent;
    border-top: 68px solid transparent;
    bottom: -1px;
    content: "";
    left: -43px;
    position: absolute;
    z-index:1;
  }
}

.cta__link-btn {
  background-color: $black;
  margin: 1em 0;
  padding: 0.75em 2em;

  &:hover {
    background-color: $pink;
  }
}
