{% set text = download_text %}
{% set url = download_link %}
{% set label = content.field_paragraph_cta_label.0['#context'].value %}

<div class="cta">
  <a class="cta__button" href="{{ url }}">{{ label }}</a>
  <span class="cta__link">
    {% include "@atoms/buttons/button.twig"
      with {
        "classname": "cta__link-btn"
      }
    %}
  </span>
</div>
