/////////////////////
// General Mixins (put specific ones in component files where applicable)

// Mixin - Wrapper
@mixin wrapper(
  $wrapper-max-width: $max-width,
  $wrapper-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$wrapper-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($wrapper-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($wrapper-max-width) {
    padding-left: calc(#{$h-padding-large} + calc(-50vw + calc(#{$wrapper-max-width} / 2)));
    padding-right: calc(#{$h-padding-large} + calc(-50vw + calc(#{$wrapper-max-width} / 2)));
  }
}

// The breakout mixin below is disabled by default.
// It can be very useful, but read this comment for reasons we don't always recommend it:
// https://github.com/fourkitchens/emulsify/pull/262#issuecomment-400778359

// Use the breakout mixin for elements that should be edge-to-edge
// Even when a parent container uses the wrapper mixin
// @mixin breakout($h-padding: $space-double) {
//   margin-left: calc(-50vw + 50%);
//   margin-right: calc(-50vw + 50%);
//   padding-left: calc(#{$h-padding} + calc(-50vw + 50%));
//   padding-right: calc(#{$h-padding} + calc(-50vw + 50%));
// }

/// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}
