.m-quote__wrapper {
  // margin: ru(1) 0 ru(3) 0;
}

%m-quote,
.m-quote {
  // @include font-size($h3-font-sizes);
  text-align: center;
  color: $color-secondary-dark;
  font-weight: 700;

  p {
    // @include font-size($h3-font-sizes);
  }
}

%m-quote--icon-core {
  @include svg-centered(ru(3),  ru(3),  ru(3),  ru(3));
  fill: $color-secondary-xlight;
}

.m-quote__open {
  @extend %m-quote--icon-core;
}

.m-quote__close {
  @extend %m-quote--icon-core;
  margin-left: auto;
}

// %m-quote__cite,
// .m-quote__cite {
//   font-style: normal;
// }
