<div class="m-quote__wrapper">
  <div class="m-quote__open"><svg class="svg__core"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#quote-left"></use></svg></div>
    <blockquote class="m-quote">
      <p>
       {{ quote }}
     </p>
    </blockquote>
  <div class="m-quote__close"><svg class="svg__core"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#quote-right"></use></svg></div>
</div>
