%l-main,
.l-main {
  position: relative;
  margin: 0 auto;
  background-color: palette(blue, xlight);
  padding: ru(1);
  max-width: $bp-max;
  overflow: hidden;
}

.l-main--white {
  @extend %l-main;

  background-color: $white;
}

// .l-main__header {
//   background-color: palette(grey, light);
//   padding: ru(1);
// }

.l-main__utilities  {
  background-color: palette(grey, xxlight);
  padding: ru(1);
}

.l-main__content {
  background-color: palette(grey, light);
  padding: ru(1);
  min-height: ru(10);

  @include respond-to('full-nav') {
    float: left;
    width: 75%;
    min-height: 50vh;
  }
}

.l-main__aside {
  background-color: palette(blue, light);
  padding: ru(1);
  min-height: ru(5);

  @include respond-to('full-nav') {
    float: right;
    width: 25%;
    min-height: 50vh;
  }
}
