<ol class="breadcrumb">
  <li class="breadcrumb__item">
    <a class="breadcrumb__link" href="/">Home</a>
  </li>
  <li class="breadcrumb__item">
    <a class="breadcrumb__link" href="/test">Something</a>
  </li>
  <li class="breadcrumb__item">Current Page</li>
</ol>
