// Icon Styling
.sprite-icon {
  background-size: contain; // Replace based on sprite size with specific em digit
  display: block;
  padding: 3em;
}

.inline-arrow-down {
  display: flex;

  &::before {
    @include sprite-arrow-down;
    @include with-icon;
  }
}
