@mixin svg-common {
  background: url("svg/sprite.css.svg") no-repeat;
}

@mixin sprite-bars {
  @include svg-common;

  background-position: 0 0;
}

.sprite-bars {
  @include sprite-bars;
}

@mixin sprite-bars2 {
  @include svg-common;

  background-position: 99.09502262443439% 0;
}

.sprite-bars2 {
  @include sprite-bars2;
}

