// Icon Styling
.sprite-icon {
  background-size: 100% 100%;
  display: block;
  height: 0;
  padding: 40%;
  width: 100%;
}

.icon-inline-menu {
  display: flex;

  &::before {
    @include sprite-menu;
    @include with-icon;
  }
}
