<div class="icons-demo" id="icons">
  {% for item in items %}
    <div>
      {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: item.value,
      } %}
      <p>{{ item.value }}</p>
    </div>
  {% endfor %}
</div>
<br>
