<div class="icons-demo" id="icons">

  {% for item in items %}
    <div><span class="sprite-{{ item.value }} sprite-icon"></span><p>{{ item.name }}</p></div>
  {% endfor %}

</div>

<br>

<h3 class="h3">Inline icon examples</h3>

<p class="icon-inline-menu">Menu</p>
