%a-link--core {
  @extend %u-animate-all;
  display: inline-block;
  background-repeat: repeat-x;
  background-position: bottom center; // Default for old safari
  background-position: bottom 0.25em center; //sass-lint:disable-line no-duplicate-properties
  background-size: 100% 1px;
  cursor: pointer;
}

%a-link,
.a-link {
  @extend %a-link--core;
  @include accessible-link();
  color: $color-secondary;

  &:visited {
    color: $color-secondary;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-secondary-dark;
  }
}

.a-link--grey-dark {
  @extend %a-link--core;
  @include accessible-link();
  color: $color-primary-dark;

  &:visited {
    color: $color-primary-dark;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-primary-dark;
  }
}
