.accordion-term {
  border-top: 1px solid $gray-lightest;
  color: $gray-dark;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 1em 0;

  &::before {
    content: "+";
    padding: 0.8em;
    top: 0.35em;
  }

  &:hover {
    color: $gray;
  }

  &.is-active {
    color: $gray;

    &::before {
      content: "-";
      top: 0.45em;
    }

    & + dd {
      height: auto;
      margin: 0 2em;
      overflow: visible;
      padding-bottom: 1em;
    }
  }
}

.accordion-def {
  margin: 0 2em;

  &.active {
    height: 0;
    margin: 0 2em;
    overflow: hidden;
  }
}
