.info-box {
  background-color: $gray-lightest;
  margin-bottom: 2%;
  padding: 1em;
  width: 100%;
}

.info-box__title {
  @include heading-medium;
  font-weight: 400;
  text-align: center;
}

.info-box__link {
  @include link;
}
