.info-box  {
  background-color: $gray-lightest;
  margin-bottom: 2%;
  padding: 1em;
  width: 100%;

  @include medium {
    flex: 1 0 43%;
    margin: 0 2% 2% 0;
    width: auto;

    &:nth-child(2n+1),
    &:last-child {
      margin-right: 0;
    }
  }
}

.info-box__title {
  color: $gray;
  font-weight: 400;
  text-align: center;
}
