<div class="info-box{% for modifier in infobox_modifiers %} info-box--{{ modifier }}{% endfor %}{% if infobox_blockname %} {{ infobox_blockname }}__info-box{% endif %}">
  {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
    with {
      "heading": infobox_title,
      "heading_url": infobox_link,
      "heading_modifiers": infobox_title_modifiers
    }
  %}
  {% include "@atoms/02-text/text/01-paragraph.twig"
    with {
      "paragraph_content": infobox_text,
      "paragraph_modifiers": infobox_text_modifiers
    }
  %}
</div>
