<div class="info-box{% if modifiers %}{% for modifier in modifiers %} {% if blockname %}{{ blockname }}__{% endif %}info-box--{{ modifier }}{% endfor %}{% elseif blockname %} {{ blockname }}__info-box{% endif %}">
  {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
    with {
      "heading_3": infobox_title,
      "heading_3_url": infobox_link,
      "modifiers": {
        1: "centered"
      }
    }
  %}
  {{ infobox_text }}
</div>
