<div {% if attributes %}{{ attributes.addClass("info-box") }}{% else %} class="info-box"{% endif %}>
  <h3 class="heading-5 info-box__title">
    {% if infobox_link %}<a href="{{ infobox_link }}">{% endif %}
      {{ infobox_title }}
    {% if infobox_link is defined %}</a>{% endif %}
  </h3>
  {{ infobox_text }}
</div>
