{#
/**
 * Available variables:
 * - paragraph_base_class - the base classname
 * - paragraph_modifiers - array of modifiers to add to the base classname
 * - paragraph_blockname - blockname prepended to the base classname
 * - paragraph_content - the content of the paragraph (typically text)
 *
 * Available blocks:
 * - paragraph_content - used to replace the content of the paragraph with something other than plain text
 *   for example: A formatted text field in Drupal
 */
#}
{% set paragraph_base_class = paragraph_base_class|default('paragraph') %}

<p {{ bem(paragraph_base_class, (paragraph_modifiers), paragraph_blockname) }}>
  {% block paragraph_content %}
    {{ paragraph_content }}
  {% endblock %}
</p>
