<div class="l-page">
  <div class="l-page__header">
    {% include "@organisms/site/header/header.twig"
      with {
        logo: drupal_block('logo'),
      }
    %}
  </div>

  {{ content }}

  <div class="l-page__footer">
    {% include "@organisms/site/footer/footer.twig"
      with {
        menu_main: drupal_block('menu_main'),
      }
    %}
  </div>
</div>
