.cta-group__heading {
  color: $gray-darker;
  margin-bottom: 0;

  @include medium {
    display: none;
  }

  & + .cta {
    margin-top: .5em;

    @include medium {
      margin-top: 1em;
    }
  }
}
