.em-logo {
  font: 9em/1em "reklame-script";
  margin: 0 auto;

  a {
    color: $white;
  }

  span {
    color: $gray;
    display: block;
    font: .155em "gotham";
    left: 3px;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    top:-8px;
  }

  #atoms-logo & {
    background-color: $orange;
    padding: .3em;
  }
}
