/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sg-colors li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

/**
 * Styleguide Styles
 */
.sg-subtype > h2 {
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif!important;
  text-transform: capitalize;
}

.sg-subtype > h2 > a {
  color: black;
}

/* Hide some patterns that should not be displayed */
#viewall-base-variables,
#viewall-base-functions,
#viewall-base-mixins,
#viewall-base-breakpoints,
#viewall-base-css-reset,
#viewall-base-html {
  display: none;
}

/**
 * FI Styleguide classes
 */

/* add clearfix*/
.sg__wrapper {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
}

.sg__wrapper--xlight-grey {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f8f8f8;
}

.sg__wrapper--xlight-grey--border {
  position: relative;
  margin-bottom: 2rem;
  padding: 0 1rem;
  background-color: #f8f8f8;
  border: 1px solid #e4e4e4;
}

.sg__wrapper--light-grey {
  background-color: #f8f8f8;
}

.sg__wrapper--sml-light-grey {
  background-color: #f8f8f8;
  max-width: 300px;
}

.sg__wrapper--eq {
  background-color: #f8f8f8;
  max-width: 700px;
}

.sg__wrapper--img {
  max-width: 900px;
}

/***** DEMO CLASSES *****/

/* Used for header section*/
.demo--dbl1 {
  outline: 2px dashed red;
  background-color: #e5e5e5;
  min-height: 400px;
  text-align: center;
}
/* Used for utilities section */
.demo--dbl2 {
  outline: 2px dashed blue;
  background-color: #ccc;
  min-height: 60px;
  text-align: center;
}

/* Used for main content section */
.demo--dbl3 {
  outline: 2px dashed green;
  background-color: #999;
  min-height: 900px;
  text-align: center;
}

/* Used for aside section */
.demo--dbl4 {
  outline: 2px dashed orange;
  background-color: #666;
  min-height: 300px;
  text-align: center;
}
