/*
                                                ,,            ,,                          ,,
 .M"""bgd mm                                    db          `7MM        mm         mm   `7MM                                    OO OO OO
,MI    "Y MM                                                  MM        MM         MM     MM                                    88 88 88
`MMb.   mmMMmm ,pW"Wq.`7MMpdMAo.     `7Mb,od8 `7MM  .P"Ybmmm  MMpMMMb.mmMMmm     mmMMmm   MMpMMMb.  .gP"Ya `7Mb,od8 .gP"Ya      || || ||
  `YMMNq. MM  6W'   `Wb MM   `Wb       MM' "'   MM :MI  I8    MM    MM  MM         MM     MM    MM ,M'   Yb  MM' "',M'   Yb     || || ||
.     `MM MM  8M     M8 MM    M8       MM       MM  WmmmP"    MM    MM  MM         MM     MM    MM 8M""""""  MM    8M""""""     `' `' `'
Mb     dM MM  YA.   ,A9 MM   ,AP       MM       MM 8M         MM    MM  MM         MM     MM    MM YM.    ,  MM    YM.    ,     ,, ,, ,,
P"Ybmmd"  `Mbmo`Ybmd9'  MMbmmd'      .JMML.   .JMML.YMMMMMb .JMML  JMML.`Mbmo      `Mbmo.JMML  JMML.`Mbmmd'.JMML.   `Mbmmd'     db db db
                        MM                         6'     dP
                      .JMML.                       Ybmmmd'

Pattern Lab doesn't have any CSS requirements, which means you can write your styles however you want. Hooray!
You can use Sass, Less, vanilla CSS, or some other crazy thing I haven't heard of yet.
So please don't use these styles. They're just here to put together the demo, and nothing more.
They're intentionally gray, boring, and crappy because you're supposed to do this stuff yourself.

Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines

So feel free to use any of these approaches. Or don't. It's totally up to you.
*/

/* Pattern Lab specific styles */
.sg-main {
  /* @include outer-container; */
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1224px) {
  .sg-main {
    padding-left: calc(1rem + calc(-50vw + calc(1224 / 2)));
    padding-right: calc(1rem + calc(-50vw + calc(1224 / 2)));
  }
}

.pl-template {
  display: flex;
  flex-flow: column nowrap;
}

.pl .sg-subtype h2 {
  font-size: 2rem;
  line-height: 1.6;
  text-transform: uppercase;
  background-color: #213138;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: 0;
}

.pl .sg-subtype h2 a {
  /* @include outer-container; */
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 1224px) {
  .pl .sg-subtype h2 a {
    padding-left: calc(1rem + calc(-50vw + calc(1224 / 2)));
    padding-right: calc(1rem + calc(-50vw + calc(1224 / 2)));
  }
}

.pl .sg-pattern-title a {
  color: #1169BA !important;
  font-family: serif;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase !important;
}

.pl .sg-pattern-title {
  color: #738BA3;
  font-size: 1.4rem !important;
  text-transform: none !important;
}

.sg-main .sg-subtype h2 {
  font-size: 2rem;
  line-height: 1.6;
  text-transform: uppercase;
  background-color: #213138;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: 0;
}

.sg-main .sg-subtype h2 a {
  /* @include outer-container; */
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 1224px) {
  .sg-main .sg-subtype h2 a {
    padding-left: calc(1rem + calc(-50vw + calc(1224 / 2)));
    padding-right: calc(1rem + calc(-50vw + calc(1224 / 2)));
  }
}


.sg-main .sg-pattern-title a {
  color: #1169BA !important;
  font-family: serif;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase !important;
}

.sg-main .sg-pattern-title {
  color: #738BA3;
  font-size: 1.4rem !important;
  text-transform: none !important;
}
