// Tab Navigation
.tabs__nav {
  @include list-reset;

  border-bottom: 1px solid $gray-lightest;

  @include large {
    border-left: 1px solid $gray-lightest;
    display: flex;
  }
}

// Tab Content (hidden only in full #tabs js version)
.tabs__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content {
  padding: 1.5rem;
}

// No-js fallback
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

// Drupal Local Tasks variant
.tabs__nav--local-tasks {
  margin: 1em 0 0.5em;
  padding: 0;
}

.tabs__link--local-tasks {
  padding: 0.3em 1.5em;
}
