<p>This is followed by visually hidden text -> <span class="u-visually--hidden">Visually Hidden Text</span></p>
<p>Unset by applying visually show class -> <span class="u-visually--shown">Visually Shown Text</span></p>
