<a href="{{ button_url }}" class="button{% if blockname or modifier %} {% if blockname %}{{ blockname }}__{% endif %}button{% if modifier %}--{{ modifier }}{% endif %}{% endif %}">{{ button_text }}</a>
