@mixin button($bg:$black, $color:$white, $hoverBg: $gray, $hoverColor: $white) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button-alt {
  @include button($gray, $white, $black);

  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.4em 0.6em 0.3em;
}

@mixin button-alt-2 {
  @include button($gray-lightest, $black, $gray-lighter);

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: none;
}

.button {
  @include button;

  &--alt {
    @include button;
    @include button-alt;
  }

  &--alt-2 {
    @include button;
    @include button-alt-2;
  }
}
