
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- If using Drupal.behaviors, uncomment for them to work in Pattern Lab -->
  <!-- <script>Drupal.attachBehaviors();</script> -->

  <script src="../../js/reload-scripts.js"></script>

  </body>
</html>
