
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- If using Drupal.behaviors, uncomment for them to work in Pattern Lab -->
  <!-- <script>Drupal.attachBehaviors();</script> -->

  <script>
    const head = document.getElementsByTagName('body')[0];
    const scripts = head.querySelectorAll('script');
    scripts.forEach((element) => {
      if (element.dataset.name) {
        const script = document.createElement('script');
        script.src = element.src;
        head.appendChild(script);
      }
    });
  </script>

  </body>
</html>
