
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- may need to change these below based on path -->
  <script src="../../../../../../../core/assets/vendor/domready/ready.min.js"></script>
  <script src="../../../../../../../core/misc/drupal.js"></script>
  
  <script src="../../../../dist/scripts-styleguide.js"></script>

  </body>
</html>
