
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="/core/assets/vendor/domready/ready.min.js"></script>
  <script src="/core/misc/drupal.js"></script>
  <script src="../../../../dist/scripts-styleguide.js"></script>

  </body>
</html>
