// Variation - Image Left
.card--left-to-full {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 calc(100% / 3);

  @include medium {
    display: block;
  }
}

.card__img-wrap--left-to-full,
.card__text--left-to-full {
  flex: 0 1 37%;
}

.card__img-wrap--left-to-full {
  margin-right: 1em;
  position: relative;
  width: 35%;

  @include medium {
    height: auto;
    margin-bottom: .4em;
    margin-right: 0;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.card__caption--left-to-full {
  background-color: rgba(0,0,0,.3);
  color: $white;
  @include font-size(.75);
  font-weight: 600;
  left: 0;
  line-height: 1.3em;
  padding: .5em;
  position: absolute;
  text-transform: uppercase;
  top:0;

  @include medium {
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    padding: .5em 0;
    text-align: center;
    top:auto;
    width: 100%;
  }
}

.card__text--left-to-full {
  flex-basis: 55%;
}

.card__title--left-to-full {
  @include font-size(.9);
  line-height: 1.1rem;
  margin-bottom: .7em;

  @include medium {
    margin-bottom: .4em;
  }
}
