.video-overlay {
  display: block;
  margin-bottom: 2.5em;
  position: relative;
  text-decoration: none;

  &:hover {
    .video-overlay__play {
      opacity: .8;
    }
  }
}

.video-overlay__content {

  @include medium {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    padding: 0 32%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 36%;
  }
}

.video-overlay__content-inner {
  width: 100%;
}

.video-overlay__title {
  color: $red;
  margin: 0;

  @include medium {
    @include font-size(2);
  }
}

.video-overlay__text {
  @include font-size(1.1);
  font-weight: 400;
}

.video-overlay__title,
.video-overlay__text {
  line-height: 1.3em;

  @include medium {
    color: $white;
  }
}

.video-overlay__play-wrap {
  align-items: center;
  display: flex;
  height: 69%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @include small-med {
    height: 80%;
  }

  @include medium {
    display: block;
    height: auto;
    margin: 1em 0;
    position: static;
    width: auto;
  }

  @include large {
    margin: 2em 0;
  }
}

.video-overlay__play {
  height: 126px;
  width: 126px;
}


// JS Modal related
.modal-bg {
  background-color: rgba(0,0,0,.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 299;
}

.video-modal {
  align-items: center;
  display: flex;
  height: 100%;
  left: 15%;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 300;

  .video {
    width: 100%;
  }

  iframe {
    border: none;
  }
}
