<div class="news-detail">

  {% if news_detail_image %}
    <div class="news-detail__image">
      {{ news_detail_image }}
    </div>
  {% endif %}

  <h3 class="heading-3 news-detail__date">{{ news_date }}</h3>

  {% if news_body %}
    {{ news_body }}
  {% endif %}

</div>
