{#
/**
 * Available variables:
 * - heading_4_modifiers - array of modifiers to add to the base classname
 * - heading_4_blockname - blockname prepended to the base classname
 * - heading_4_url - (optional) the url the heading should poing to
 * - heading_4 - the content of the heading (typically text)
 */
#}
<h4 class="heading-4{% for modifier in heading_4_modifiers %} heading-4--{{ modifier }}{% endfor %}{% if heading_4_blockname %} {{ heading_4_blockname }}__heading-4{% endif %}">
  {% if heading_4_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_blockname": "heading-4",
        "link_url": heading_4_url,
        "link_content": heading_4,
      }
    %}
  {% else %}
    {{ heading_4 }}
  {% endif %}
</h4>
