<div class="form-item">
  <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Name</label>
  <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="First, Middle, Last">
</div>

<div class="form-item">
  <label for="edit-pass" class="form-item__label form-item__label--required form-item__label--textfield">Password</label>
  <input aria-describedby="edit-pass--description" type="password" name="pass" size="60" maxlength="128" class="form-item__textfield form-item__textfield--password form-item__textfield--required" required="required" aria-required="true">
  <div class="form-item__description">
    Enter the password that accompanies your username.
  </div>
</div>

<form>
  <fieldset class="form-fieldset">
  <legend class="heading-2 with-icon">Web and Email Address (fieldset example)</legend>
    <div class="form-item">
       <label for="webaddress" class="form-item__label form-item__label--textfield">Web Address</label>
       <input type="url" class="form-item__textfield" placeholder="http://yoursite.com">
     </div>

     <div class="form-item">
       <label for="emailaddress" class="form-item__label form-item__label--textfield">Email Address</label>
       <input type="email" class="form-item__textfield" placeholder="name@email.com">
     </div>
  </fieldset>
 </form>

 <div class="form-item">
   <label for="text" class="form-item__label form-item__label--textfield">Number Input</label>
   <input type="number" class="form-item__textfield" placeholder="Enter a Number" pattern="[0-9]*">
 </div>

 <div class="form-item">
   <label for="textarea" class="form-item__label form-item__label--textfield">Textarea</label>
   <textarea class="form-item__textfield form-item__textarea"  rows="8" cols="48" placeholder="Enter your message here"></textarea>
 </div>
