$heading: 'proxima-nova',sans-serif;
// $sub-heading: 'Bitter', sans-serif;
$paragraph: Arial, sans-serif;

/// Mixin - Body Copy
@mixin body-copy {
  font-family: $heading;
  @include font-size(.9);
  line-height: 1.6em;
}
