.card {
  margin-bottom: 1em;

  @include medium {
    margin-right: 2em;
  }
}

.card__title {
  color: $red;
  @include font-size(1.1);
  font-weight: 600;
  margin: 0 0 .1em;
}

.card__title-link {
  text-decoration: none;
}

.card__sub {
  color: $gray-light;
  @include font-size(.8);
  line-height: 1em;
}

.card__text {
  margin-top: .5em;

  p {
    margin: 0;
  }
}

// Variations (small tweaks)
.card--full {
  margin-right: 0;
  position: relative;
  z-index: 1;
}

.card__text--full {
  @include medium {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
  }
}

.card__sub--full {
  @include medium {
    display: none;
  }
}

.card__title--full {
  @include medium {
    @include font-size(3);
    flex-grow:2;
    letter-spacing: 3px;
    text-align: center;
  }
}

.card__title-link--full,
.card__title-link--full:link,
.card__title-link--full:visited {
  @include medium {
    color: $white;
    text-transform: uppercase;
  }
}
