%a-video__core {
  height: 0;
  overflow: hidden;
  padding-top: 35px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Default 16x9 video play
.a-video {
  @extend %a-video__core;
  padding-bottom: 56.25%;
}


// 4x3 aspect ratio Video
.a-video--4x3 {
  @extend %a-video__core;
  padding-bottom: 75%;
}
