{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}
<li{% if attributes %}{{ attributes.addClass('list-item') }}{% else %} class="list-item"{% endif %}>{% if list_label %}<strong>{{ list_label }}</strong> {% endif %}{{ list_item }}</li>
