{# This is just a place to note the used of classes on headings#}
<p>This project assumes you apply a classes like "a-type__h2" to every heading or used a scoped class as a wrapper like "s-wysiwyg". Without classes all headings look the same as below</p>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
