{# TODO: Replace static dummy content with .yml? or use exisisting one? {{ excerpt.long }}
#
#<p class="a-type--small">{{ excerpt.long }}</p>
#}

<p>
  Default Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
</p>

<p class="a-type--small">
  small Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
</p>

<p class="a-type--large">
  large Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
</p>

<p class="a-type--xlarge">
  xlarge Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
</p>

<p class="a-type--grey">
  xlarge Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
</p>
