// $font-sizes (Maps)
//
// Arrays of Font Sizing which change at breakpoints
// See /layouts/l--breakpoints.scss
//
// Styleguide 1.6.2


$font-sizes--xsmall: (
  null: (12px, $base-line-height * 0.75)
);

$font-sizes--small: (
  null: (14px, $base-line-height * 0.75)
);

$font-sizes--base: (
  null: (16px, $base-line-height)
);

$font-sizes--large: (
  null: (18px, $base-line-height)
);

$font-sizes--xlarge: (
  null: (20px, $base-line-height * 1.25)
);

$font-sizes--xxlarge: (
  null: (24px, $base-line-height * 1.25)
);


// Heading text elements
$h1-font-sizes: (
  null: (32px, $base-line-height * 1.5),
  type-large: (42px, $base-line-height * 2)
);

$h2-font-sizes: (
  null: (28px, $base-line-height * 1.25),
  type-large: (36px, $base-line-height * 1.75)
);

$h3-font-sizes: (
  null: (24px, $base-line-height * 1.25),
  type-large: (32px, $base-line-height * 1.5)
);

$h4-font-sizes: (
  null: (21px, $base-line-height * 1),
  type-large: (28px, $base-line-height * 1.25)
);

$h5-font-sizes: (
  null: (18px, $base-line-height * 1),
  type-large: (22px, $base-line-height * 1.25)
);

$h6-font-sizes: (
  null: (16px, $base-line-height * 1),
  type-large: (18px, $base-line-height * 1)
);

