<div class="sg__wrapper--xlight-grey"> <!--Only used in demo -->
  <div class="s-wysiwyg">
    <p>This would be text from the WYSIWYG editor</p>
    <p>It would have different paragraphs. Donec tristique nunc a congue tincidunt. Vestibulum tristique blandit magna ut tincidunt.</p>
    <p>It could also have <a href="#">inline links</a>. Pellentesque rhoncus molestie nisl quis blandit. Nam a <a href="#">euismod</a> velit, eu tincidunt orci.</p>
    <p>The general link style will apply unless custom btn styles are added in WYSIWIYG; like </p>
    <a href="#" class="a-btn">btn style</a>
    <br/>
    <br/>
    <p>Lists, both unordered and ordered will be styled as well.</p>
    <h4>Unorderd Lists</h4>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
      <li>Nunc dignissim risus id metus.</li>
    </ul>
    <h4>Ordered List</h4>
    <ol>
      <li>Vivamus vestibulum nulla nec ante.</li>
      <li>Praesent placerat risus quis eros.</li>
      <li>Fusce pellentesque suscipit nibh.</li>
      <li>Integer vitae libero ac risus egestas placerat.</li>
    </ol>
  </div>
</div>
