body {
  color:$gray;
  @include body-copy;
}

p {
  margin: 0 0 $spacing-sm;
}

a {
  @include a-link;
}

blockquote {
  font-style: italic;
  border-left: solid 3px $border;
  margin-left: $spacing-l;
  padding-left: $spacing-l;
}

img {
  max-width: 100%;
  height: auto;
}


hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

.header-with-icon {
  &::before {
    @extend .sprite-chevron-right;
    @include with-icon;
  }
}

.header-icon-bg {
  &::before {
    @extend .sprite-chevron-right-white;
    @include with-icon;
    @include icon-bg;
  }
}
