// Create a mixin for heading-5 styles that can be implemented
// in components with other classnames.
@mixin heading-5 {
  @include headings(
    $color: $gray,
    $font-size: 0.85em
  );
  text-transform: uppercase;
}

.heading-5 {
  @include heading-5;
}
