<h5 class="heading-5{% if heading_5_modifiers %}{% for modifier in heading_5_modifiers %} {% if heading_5_blockname %}{{ heading_5_blockname }}__{% endif %}heading-5--{{ modifier }}{% endfor %}{% elseif heading_5_blockname %} {{ heading_5_blockname }}__heading-5{% endif %}">
  {% if heading_5_url %} {% include "@atoms/01-links/link/link.twig"
    with {
      "link_url": heading_5_url,
      "link_text": heading_5,
      "blockname": "heading-5"
    }
  %}
  {% else %}
    {{ heading_5 }}
  {% endif %}
  </h5>
