<h5 class="heading-5{% if modifiers %}{% for modifier in modifiers %} {% if blockname %}{{ blockname }}__{% endif %}heading-5--{{ modifier }}{% endfor %}{% elseif blockname %} {{ blockname }}__heading-5{% endif %}">
  {% if heading_5_url %} {% include "@atoms/01-links/link/link.twig"
    with {
      "link_url": heading_5_url,
      "link_text": heading_5,
      "blockname": "heading-5"
    }
  %}
  {% else %}
    {{ heading_5 }}
  {% endif %}
  </h5>
