{% set place_holder_var = place_holder|default('Place holder') %}
<section {{ bem("content", [], "pl-place-holder", ["pl-place-holder"]|merge([placeholder_additional_classes])) }}>
  {{ place_holder_var }}
</section>
