.accordion-item__term {
  border-top: 1px solid $gray-lightest;
  color: $gray-dark;
  cursor: pointer;
  display: block;
  @include font-size(1);
  font-weight: 600;
  padding:1em 0;

  &::before {
    content:"+";
    padding: .8em;
    top: .35em;
  }

  &:hover {
    color: $gray;
  }

  &.is-active {
    color: $gray;

    &::before {
      content:"-";
      top: .45em;
    }

    & + dd {
      height: auto;
      margin: 0em 2em 0;
      overflow: visible;
      padding-bottom: 1em;
    }
  }
}

.accordion-item__def {
  margin: 0em 2em 0;

  &.active {
    height: 0;
    margin: 0 2em 0;
    overflow: hidden;
  }
}
