.info {
  align-items: center;
  display: flex;
  min-height: 54vh;
  max-width: 50%;
  padding: 4%;

  &:nth-child(2n) {
    background: url(../../images/bg.svg);
    margin-left: auto;

    .heading-1 {
      color: $white;
    }
  }
}
