{% if not attributes %}
<div class="form-item form-item--checkbox">
  <legend class="heading-3">Options as Checkboxes</legend>
  <ul class="form-item--checkboxes">
{% endif %}
      {% for key, listItem in listItems.four %}
      <li class="form-item--checkbox__item"><label for="checkbox{{ key }}"><input id="checkbox{{ key }}" name="checkbox" type="checkbox" checked="checked"> {{ listItem.title }}</label></li>
      {% endfor %}
{% if not attributes %}
  </ul>
</div>
{% endif %}
