@mixin svg-common {
    background: url("svg/sprite.css.svg") no-repeat;
}

@mixin sprite-arrow-down {
    @include svg-common;
    background-position: 17.50525157547264% 0;
}

.sprite-arrow-down {
  @include sprite-arrow-down;
}

@mixin sprite-bars {
    @include svg-common;
    background-position: 17.38353034667726% 60%;
}

.sprite-bars {
  @include sprite-bars;
}

@mixin sprite-chevron-down {
    @include svg-common;
    background-position: 34.7035175879397% 0;
}

.sprite-chevron-down {
  @include sprite-chevron-down;
}

@mixin sprite-chevron-left {
    @include svg-common;
    background-position: 0 20%;
}

.sprite-chevron-left {
  @include sprite-chevron-left;
}

@mixin sprite-chevron-left-gray {
    @include svg-common;
    background-position: 15.413070283600494% 20%;
}

.sprite-chevron-left-gray {
  @include sprite-chevron-left-gray;
}

@mixin sprite-chevron-right {
    @include svg-common;
    background-position: 30.683882370268545% 20%;
}

.sprite-chevron-right {
  @include sprite-chevron-right;
}

@mixin sprite-chevron-right-red {
    @include svg-common;
    background-position: 51.087436791202315% 0;
}

.sprite-chevron-right-red {
  @include sprite-chevron-right-red;
}

@mixin sprite-chevron-right-white {
    @include svg-common;
    background-position: 51.087436791202315% 20%;
}

.sprite-chevron-right-white {
  @include sprite-chevron-right-white;
}

@mixin sprite-cross {
    @include svg-common;
    background-position: 0 40%;
}

.sprite-cross {
  @include sprite-cross;
}

@mixin sprite-download {
    @include svg-common;
    background-position: 17.50525157547264% 40%;
}

.sprite-download {
  @include sprite-download;
}

@mixin sprite-envelope {
    @include svg-common;
    background-position: 34.7035175879397% 40%;
}

.sprite-envelope {
  @include sprite-envelope;
}

@mixin sprite-envelope-red {
    @include svg-common;
    background-position: 67.52261306532664% 0;
}

.sprite-envelope-red {
  @include sprite-envelope-red;
}

@mixin sprite-facebook {
    @include svg-common;
    background-position: 65.51757764883709% 20%;
}

.sprite-facebook {
  @include sprite-facebook;
}

@mixin sprite-file-empty {
    @include svg-common;
    background-position: 67.52261306532664% 40%;
}

.sprite-file-empty {
  @include sprite-file-empty;
}

@mixin sprite-global {
    @include svg-common;
    background-position: 0 60%;
}

.sprite-global {
  @include sprite-global;
}

@mixin sprite-globe {
    @include svg-common;
    background-position: 0 0;
}

.sprite-globe {
  @include sprite-globe;
}

@mixin sprite-graduation-cap {
    @include svg-common;
    background-position: 34% 58.89281507656066%;
}

.sprite-graduation-cap {
  @include sprite-graduation-cap;
}

@mixin sprite-instagram {
    @include svg-common;
    background-position: 84.12138670904936% 0;
}

.sprite-instagram {
  @include sprite-instagram;
}

@mixin sprite-minus {
    @include svg-common;
    background-position: 83.73047261222068% 20%;
}

.sprite-minus {
  @include sprite-minus;
}

@mixin sprite-money {
    @include svg-common;
    background-position: 0 80%;
}

.sprite-money {
  @include sprite-money;
}

@mixin sprite-nih {
    @include svg-common;
    background-position: 51.58793969849246% 58.14275430533252%;
}

.sprite-nih {
  @include sprite-nih;
}

@mixin sprite-people {
    @include svg-common;
    background-position: 17.587939698492463% 79.80391039160918%;
}

.sprite-people {
  @include sprite-people;
}

@mixin sprite-phone {
    @include svg-common;
    background-position: 83.73047261222068% 40%;
}

.sprite-phone {
  @include sprite-phone;
}

@mixin sprite-play-circle {
    @include svg-common;
    background-position: 84.12138670904936% 60%;
}

.sprite-play-circle {
  @include sprite-play-circle;
}

@mixin sprite-plus {
    @include svg-common;
    background-position: 99.8764089381056% 0;
}

.sprite-plus {
  @include sprite-plus;
}

@mixin sprite-search {
    @include svg-common;
    background-position: 0 100%;
}

.sprite-search {
  @include sprite-search;
}

@mixin sprite-search-plus {
    @include svg-common;
    background-position: 17.035110533159948% 100%;
}

.sprite-search-plus {
  @include sprite-search-plus;
}

@mixin sprite-tag {
    @include svg-common;
    background-position: 33.83331677759015% 100%;
}

.sprite-tag {
  @include sprite-tag;
}

@mixin sprite-twitter {
    @include svg-common;
    background-position: 50.40512153646094% 100%;
}

.sprite-twitter {
  @include sprite-twitter;
}

@mixin sprite-youtube {
    @include svg-common;
    background-position: 66.9712923413132% 100%;
}

.sprite-youtube {
  @include sprite-youtube;
}

