<div class="icons-demo" id="icons">

  <div><span class="sprite-arrow-down sprite-icon"></span><p>arrow down</p></div>

  <div class="dark-bg"><span class="sprite-bars sprite-icon"></span><p>bars</p></div>

  <div class="dark-bg"><span class="sprite-chevron-down sprite-icon"></span><p>chevron down</p></div>

  <div><span class="sprite-chevron-left sprite-icon"></span><p>chevron left</p></div>

  <div><span class="sprite-chevron-right sprite-icon"></span><p>chevron right</p></div>

  <div><span class="sprite-envelope sprite-icon"></span><p>envelope</p></div>

  <div class="dark-bg"><span class="sprite-facebook sprite-icon"></span><p>facebook</p></div>

  <div><span class="sprite-graduation-cap sprite-icon"></span><p>graduation-cap</p></div>

  <div class="dark-bg"><span class="sprite-instagram sprite-icon"></span><p>instagram</p></div>

  <div><span class="sprite-minus sprite-icon"></span><p>minus</p></div>

  <div><span class="sprite-phone sprite-icon"></span><p>phone</p></div>

  <div><span class="sprite-play-circle sprite-icon"></span><p>play-circle</p></div>

  <div><span class="sprite-plus sprite-icon"></span><p>plus</p></div>

  <div><span class="sprite-search-plus sprite-icon"></span><p>search-plus</p></div>

  <div><span class="sprite-search sprite-icon"></span><p>search</p></div>

  <div><span class="sprite-tag sprite-icon"></span><p>tag</p></div>

  <div class="dark-bg"><span class="sprite-twitter sprite-icon"></span><p>twitter</p></div>

  <div class="dark-bg"><span class="sprite-youtube sprite-icon"></span><p>youtube</p></div>

  <div class="dark-bg"><span class="sprite-cross sprite-icon"></span><p>cross</p></div>

  <div class="dark-bg"><span class="sprite-globe sprite-icon"></span><p>globe</p></div>

  <div class="dark-bg"><span class="sprite-chevron-right-white sprite-icon"></span><p>chevron right white</p></div>

  <div><span class="sprite-chevron-right-red sprite-icon"></span><p>chevron right red</p></div>

  <div><span class="sprite-chevron-left-gray sprite-icon"></span><p>chevron left gray</p></div>

  <div><span class="sprite-file-empty sprite-icon"></span><p>file-empty</p></div>

  <div><span class="sprite-download sprite-icon"></span><p>download</p></div>

  <div class="large-icon"><span class="sprite-money sprite-icon"></span><p>money</p></div>

  <div class="large-icon"><span class="sprite-nih sprite-icon"></span><p>nih</p></div>

  <div class="large-icon"><span class="sprite-people sprite-icon"></span><p>people</p></div>

  <div class="large-icon"><span class="sprite-global sprite-icon"></span><p>global</p></div>
</div>

<br>
<h2 class="heading-2">Inline Examples:</h2>

<h3 class="heading-3 header-icon-bg">Header 3 styling with icon</h3>
<p class="email-icon">Inline styling with icon</p>
