.tabs__link {
  background-color: $near-white;
  border: 1px solid $gray-lightest;
  border-bottom: none;
  color: $gray;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  @include large {
    border-bottom: 1px solid $gray-lightest;
    border-left: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0.6em 1.7em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    background-color: $gray-lightest;
    color: $gray-darker;
  }

  &.is-active {
    background-color: $gray;
    border: 1px solid $gray;
    color: $white;

    @include large {
      background-color: $white;
      border: 1px solid $gray-lightest;
      border-bottom: 1px solid $gray;
      border-left: none;
      color: $gray;
    }
  }
}
