<div class="form-item">
  <label for="select" class="form-item__label form-item__label--textfield">Age</label>
  <div class="form-item__dropdown">
    <select class="form-item__select">
      <optgroup label="Age Group">
        <option>0-20</option>
        <option>21-40</option>
        <option>41-Dead</option>
      </optgroup>
    </select>
  </div>
</div>
