.card__title {
  @include h2;
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subtitle {
  @include h3;
  @include no-bottom;
  color: $gray;
}

.card__body {
  margin: .7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

// Variations
.card--bg {
  background-color: $gray-lightest;
  padding: 1em;
}
