// Variation - Image Left on mobile and desktop (used in Event listing)
.card--info {
  overflow: hidden;

  @include large {
    max-width: 640px;
  }
}

.card__img-wrap--info {
  float: left;
  margin-right: 3%;
  width: 47%;

  // Very minor variation for Nursing Magazine view
  &.small {
    max-width: 220px;
    width: 40%;

    @include large {
      max-width: 250px;
    }
  }
}

.card__title--info {
  @include font-size(1);
  margin: .2em 0 0;

  @include medium {
    @include font-size(1.2);
    margin-bottom: .5em;
  }
}

.card__sub--info {
  float: left;
  width: 46%;
}

.card__tags--info {
  color: $red;
  @include font-size(.9);
  font-style: italic;
}

.card__body--info {
  display: none;
  color: $gray-light;
  @include font-size(.9);
  line-height: 1.3em;
  margin: 1em 0;

  @include medium {
    display: block;
  }
}

.card__button--info {
  margin-bottom: .5em;
  width: 93%;

  @include small-med {
    margin: 2em 0;
    width: auto;
  }
}
