// Core Extendables
%a-btn--core {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: none;
  border-radius: rem(4px);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

%a-btn--default-padding {
  padding: ru(0.5) ru(1);
}

%a-btn--narrow-padding {
  padding: ru(0.25) ru(0.75);
}

%a-btn--palette-grey {
  border-color: $color-primary-light;
  background-color: $white;
  color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-primary;
    background-color: $color-primary-xxlight;
    color: $color-primary-dark;
  }
}

%a-btn--palette-blue {
  border-color: $color-secondary-dark;
  background-color: $color-secondary;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-secondary-dark;
    background-color: $color-secondary-dark;
    color: $color-primary-xxxlight;
  }
}

// Button Variations
%a-btn,
.a-btn {
  @extend %a-btn--core;
  @extend %a-btn--default-padding;
  @extend %a-btn--palette-blue;

}

.a-btn--secondary {
  @extend %a-btn--core;
  @extend %a-btn--default-padding;
  @extend %a-btn--palette-grey;
}

.a-btn--thin {
  @extend %a-btn--core;
  @extend %a-btn--narrow-padding;
  @extend %a-btn--palette-blue;
}

.a-btn--secondary-thin {
  @extend %a-btn--core;
  @extend %a-btn--narrow-padding;
  @extend %a-btn--palette-grey;
}




// @mixin button($alt: false) {
//   background-color: $black;
//   border:none;
//   color: $white;
//   cursor: pointer;
//   font-family: $body;
//   line-height: 1em;
//   padding: .5em 1em;
//   display: inline-block;
//   text-decoration: none;
//   text-align: center;
//   text-transform: uppercase;

//   &:link,
//   &:visited {
//     color: $white;
//   }

//   &:hover {
//     background-color: $color-primary;
//   }

//   @if $alt {
//     @include font-size(.7);
//     background-color: $color-primary;
//     padding: .4em .6em .3em;

//     &:hover {
//       background-color: black;
//     }
//   }
// }

// .button,
// a.button {
//   @include button();

//   &--alt {
//     @include button($alt: true);
//     font-weight: 600;
//   }

//   &--alt-2 {
//     background-color: $color-primary-xxlight;
//     color: $black;
//     @include font-size(.8);
//     font-weight: 600;
//     line-height: 1.4em;
//     text-transform: none;

//     &:link,
//     &:visited {
//       color: $black;
//     }

//     &:hover {
//       background-color: $color-primary-lighter;
//     }
//   }
// }

// a.button {
//   // needed to override base theme CSS
//   -moz-appearance: none;
//   -webkit-appearance: none;
// }
