{#
/**
 * Available variables:
 * - heading_1_modifiers - array of modifiers to add to the base classname
 * - heading_1_blockname - blockname prepended to the base classname
 * - heading_1_url - (optional) the url the heading should poing to
 * - heading_1 - the content of the heading (typically text)
 */
#}
<h1 class="heading-1{% for modifier in heading_1_modifiers %} heading-1--{{ modifier }}{% endfor %}{% if heading_1_blockname %} {{ heading_1_blockname }}__heading-1{% endif %}">
  {% if heading_1_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_blockname": "heading-1",
        "link_url": heading_1_url,
        "link_content": heading_1,
      }
    %}
  {% else %}
    {{ heading_1 }}
  {% endif %}
</h1>
